<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.forcavenda">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Telas.Cadastros.CadastroClienteActivity"
            android:label="@string/tela_cadastrar_cliente"
            android:parentActivityName=".Telas.Listas.ListaClienteActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Telas.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Telas.Cadastros.CadastroUsuarioActivity"
            android:label="@string/tela_cadastrar_usuario"
            android:parentActivityName=".Telas.LoginActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Telas.Cadastros.CadastroFormaPgtoActivity"
            android:label="@string/tela_cadastrar_forma_pgto"
            android:parentActivityName=".Telas.Listas.ListaFormaPgtoActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Telas.Cadastros.CadastroProdutoActivity"
            android:label="@string/tela_cadastrar_produto"
            android:parentActivityName=".Telas.PrincipalActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Telas.Cadastros.CadastroPedidoActivity"
            android:label="@string/tela_cadastrar_pedido"
            android:parentActivityName=".Telas.Listas.ListaProdutoActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Telas.PrincipalActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".Telas.Listas.ListaClienteActivity"
            android:label="@string/tela_lista_cliente"
            android:parentActivityName=".Telas.PrincipalActivity" />
        <activity
            android:name=".Telas.Listas.ListaProdutoActivity"
            android:label="@string/tela_lista_produto"
            android:parentActivityName=".Telas.PrincipalActivity" />
        <activity
            android:name=".Telas.Listas.ListaFormaPgtoActivity"
            android:label="@string/tela_lista_formapgto"
            android:parentActivityName=".Telas.PrincipalActivity" />
        <activity
            android:name=".Telas.ResetSenhaUsuarioActivity"
            android:label="@string/tela_reset_senha_usuario"
            android:parentActivityName=".Telas.LoginActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Telas.Nav_PrincipalActivity"
            android:label="@string/title_activity_nav__principal"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
    </application>

</manifest>